@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

#header {
    font-family: "Raleway", sans-serif;
}

.logo {
    position: relative;
    left: 2rem;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: rgb(218, 222, 225);
}

.menu-container {
    background-color: #090313e0;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4.3em;
}

.nav-items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 85px;
}

.film, .home {
    position: relative;
    right: 55rem;
    color: rgb(148, 140, 140);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: .5px;
    transition: .4s ease;
}

.film:hover {
    color: rgb(218, 222, 225);

}

.home:hover {
    color: rgb(218, 222, 225);
}

.log-btn {
    position: relative;
    right: 2.4rem;
    background: linear-gradient(to right, #040404, #000000, #656565);
    color: rgb(136, 136, 136);
    font-size: large;
    font-weight: 550;
    border-radius: 0.7rem;
    padding: 9px 18px;
    letter-spacing: 1.2px;
    transition: all .4s ease-out;
}

.log-btn:hover {
    background: linear-gradient(to right, #656565, #000000, #040404);
    color: rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 0.7rem;
}

.hamburger {
    display: none;
}

.watchSubscribe {
    position: relative;
    top: 0;
    left: 65rem;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    background: crimson;
    color: #ffffff;
    width: 16em;
    font-size: large;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.watchSubscribe:hover {
    color: #040404;
    font-weight: 700;
    transform: scale(1.1);
}

@media screen and (max-width:1360px) {
    .logo {
        position: absolute;
        top: 5px;
        left: 1rem;
    }

    .film, .home {
        position: relative;
        right: 45rem;
    }

    .watchSubscribe {
        position: relative;
        top: 0;
        left: 56rem;
    }
}

@media screen and (max-width:1200px) {
    .logo {
        display: flex;
        position: absolute;
        top: 5px;
        left: 10px;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        left: 0;
        top: 69px;
        height: 145px;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }

    .home {
        position: relative;
        left: 35rem;
        bottom: 1rem;
    }

    .film {
        position: relative;
        left: 35.1rem;
        top: 0.4rem;
    }


    .log-btn {
        position: relative;
        top: 2.5rem;
        left: 34.3rem;
    }

    .watchSubscribe {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .menu-container {
        background-color: #090313e0;
        width: 100vw;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        top: 4.3rem;
        transition: all .4s ease-in;
        height: 9.5rem;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }


    .home {
        position: relative;
        left: 27rem;
        bottom: 1rem;
    }

    .film {
        position: relative;
        left: 27rem;
        top: 1rem;
    }

    .log-btn {
        position: relative;
        left: 26.2rem;
        top: 3.2rem;
    }
}

@media screen and (max-width:900px) {
    .menu-container {
        background-color: #090313e0;
        width: 100vw;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        top: 4.3rem;
        height: 10.5rem;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }

    .home {
        position: relative;
        left: 23rem;
        bottom: 0;
        font-size: larger;
    }

    .film {
        position: relative;
        left: 23.1rem;
        top: 1.5rem;
        font-size: larger;
    }

    .log-btn {
        position: relative;
        left: 22.4rem;
        top: 3.7rem;
    }
}

@media screen and (max-width:768px) {
    .menu-container {
        background-color: #090313e0;
        width: 200vw;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        top: 4.3rem;
        height: 11rem;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }


    .home {
        position: relative;
        left: 20rem;
        top: 1rem;
        font-size: larger;
    }

    .film {
        position: relative;
        left: 20rem;
        top: 3rem;
        font-size: larger;
    }

    .log-btn {
        position: relative;
        left: 19.4rem;
        top: 5.2rem;
    }
}

@media screen and (max-width:650px) {
    .menu-container {
        background-color: #090313e0;
        width: 200vw;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        top: 4.3rem;

        height: 9.3rem;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }

    .home {
        position: relative;
        left: 17rem;
        top: 0;
        font-size: large;
    }

    .film {
        position: relative;
        left: 17rem;
        top: 1.7rem;
        font-size: large;
    }

    .log-btn {
        position: relative;
        left: 16.4rem;
        top: 3.8rem;
    }
}

@media screen and (max-width:480px) {
    .menu-container {
        background-color: #090313e0;
        width: 200vw;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        top: 4.3rem;
        height: 9.8rem;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }


    .home {
        position: relative;
        left: 12rem;
        top: 0.5rem;
        font-size: medium;
    }

    .film {
        position: relative;
        left: 12rem;
        top: 2rem;
        font-size: medium;
    }

    .log-btn {
        position: relative;
        left: 10.9rem;
        top: 4.2rem;
        font-size: medium;
    }
}

@media screen and (max-width:350px) {
    .menu-container {
        background-color: #090313e0;
    }

    .nav-items-moblie {
        position: absolute;
        display: block;
        background-color: #090313e0;
        top: 4rem;
        height: 7.5rem;
        width: 150%;
    }

    .hamburger {
        display: block;
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        border: none;
        outline: none;
        top: 0.90rem;
        right: 1.5rem;
    }

    .film {
        position: relative;
        left: 8rem;
        top: 0.95rem;
        font-size: small;
    }

    .home {
        position: relative;
        left: 8rem;
        top: 0.20rem;
        font-size: small;
    }

    .log-btn {
        position: relative;
        left: 7.2rem;
        top: 2.2rem;
        font-size: small;
        padding: 6px 15px;
    }

}