.close {
    position: relative;
    bottom: 16.5rem;
    right: 0.4rem;
    background: #130e29;
    transition: all .3s ease;
    border: none;
    transform: scale(1.3);
    color: aliceblue;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.7);
}