.watch_container {
    margin: 7rem;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    gap: 100px;
    text-align: center;
}

.params-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.params-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}

.all-items {
    margin-top: 55px;
    color: aliceblue;
}

.item-title {
    font-weight: 700;
    font-size: 50px;
}


.item-date {
    font-weight: 400;
}

.item-duration {
    padding: 1rem;
}

.item-description {
    overflow: hidden;
    height: 50px;
    line-height: 30px;
    text-overflow: hidden;
}

.item-description:before {
    content: "";
    float: left;
    width: 5px;
    height: 200px;
}

.item-description>:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.item-description:after {
    content: "";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%;
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

.item-img {
    width: 450px;
    height: 550px;
    border: 4px solid black;
    border-radius: 20px;
    box-shadow: 15px grey;
}

.item-button {
    padding: 0.7rem 1rem;
    border-radius: 12px;
    background: crimson;
    color: #ffffff;
    width: 16em;
    font-size: large;
    font-weight: 650;
    transition: .5s ease;
    letter-spacing: 0.8px;
    cursor: pointer;
    border: none;
    outline-color: none;
}

.item-button:hover {
    color: #040404;
    font-weight: 700;
    transform: scale(1.1);
}

.frame {
    position: relative;
    right: 40rem;
    top: 4rem;
    border: none;
    box-shadow: 0 0 27px grey;
    border-radius: 20px;
    margin-bottom: 1rem;
    opacity: 1;
    transition: all .5s ease-in-out;
}

