@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

.login-main {
    background-image: url("../ProductSwiper/Images/Joker.jpg");
    background-position: 50%;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 95vh;
    width: 100%;
    font-family: "Raleway", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 80%;
    background: rgba(178, 178, 179, 0.779);
    box-shadow: 0 5px 65px rgba(133, 125, 125, 0.62);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}

.Input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Input-email {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 5px 55px rgb(93, 90, 90);
    border-radius: 2rem;
    width: 65%;
    padding: 1rem;
    border: none;
    outline: white;
    color: rgb(26, 26, 25);
    font-size: 1rem;
    font-weight: bold;
    margin: 1.5rem;
}

.Input-email:focus {
    display: inline-block;
    backdrop-filter: blur(10rem);
    border-radius: 2rem;
    color: #000;
    background: rgb(167, 164, 164)
}

.Input-email::placeholder {
    letter-spacing: 1.3px;
}

.Input-email:hover {
    outline-color: none;
}

.Input-password {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 5px 55px rgb(93, 90, 90);
    border-radius: 2rem;
    width: 65%;
    padding: 1rem;
    border: none;
    outline: white;
    color: rgb(26, 26, 25);
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

.Input-password:focus {
    display: inline-block;
    backdrop-filter: blur(10rem);
    border-radius: 2rem;
    color: rgb(0, 0, 0);
    background: rgb(167, 164, 164)
}

.Input-password::placeholder {
    letter-spacing: 1.3px;
}

.Input-password:hover {
    outline-color: none;
}

hr {
    position: relative;
    left: 10.7rem;
    top: 4rem;
    width: 14rem;
    color: #434343;
    transition: .4s ease-in;
    cursor: default;
}

.other_text {
    background: linear-gradient(to right, #434343 0%, black 100%);
    margin: 3rem 10rem;
    padding: 5px 14px;
    border-radius: 0.40rem 4rem;
    cursor: default;
    color: rgb(202, 197, 197);
}

.register-button {
    position: relative;
    font-size: 1rem;
    left: 12.5rem;
    top: 7.5rem;
    cursor: pointer;
    color: rgb(28, 26, 26);
    transition: all .4s ease-in-out;
}

.button-contaIner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    position: relative;
    top: 3.5rem;
    border-radius: 10px;
    padding: 6px 80px;
    margin: 0 100px;
    transition: color .4s linear;
    font-family: cursive;
    font-size: larger;
    letter-spacing: 1.2px;
    min-width: 180px;
    position: relative;
    background: none;
    cursor: pointer;
    border: none;
    box-shadow: 0 10px 70px rgb(57, 55, 55);
}

.login-btn:hover {
    color: #fff;
    border-radius: 10px;
}

.login-btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform .5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
    border-radius: 10px;
}

.login-btn:hover::before {
    transform: scaleX(1);
    border-radius: 10px;
}

@media only screen and (min-width: 320px) {
    .container {
        width: 80vw;
        height: 90vh;
    }

    .container {
        width: 50vw;
        height: 90vh;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }

    hr {
        display: none
    }
}

@media only screen and (min-width: 360px) {
    .container {
        width: 80vw;
        height: 90vh;
    }

    .container {
        width: 50vw;
        height: 90vh;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }
}

@media only screen and (min-width: 451px) {
    .container {
        width: 50vw;
        height: 90vh;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }
}

@media only screen and (max-width: 540px) {
    .other_text {
        width: 40vw;
        font-size: medium;
    }

    .login-btn {
        width: 40vw;
    }

    .Input-email::placeholder {
        white-space: nowrap;
    }

    .register-button {
        position: relative;
        left: 11rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 50vw;
        height: 90vh;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 45vw;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 45vw;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 50vw;
        height: 90vh;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 30vw;
        height: 80vh;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }
}

@media only screen and (min-width: 1360px) {
    .container {
        width: 30vw;
        height: 100vh;
        position: relative;
        bottom: 0;
    }

    .Input-email {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .Input-password {
        position: relative;
        bottom: 15px;
        width: 60%;
    }

    .login-btn {
        position: relative;
        top: 35px;
    }

    .register-button {
        position: relative;
        top: 75px;
    }

}